# snippets for making snippets :)
snippet snip
	snippet ${1:trigger}
	alias ${2}
		${3}
snippet snip description
	snippet ${1:trigger} ${2:description}
	alias ${3}
		${4}
snippet alias
alias al
	alias ${1}
snippet include
alias inc
	include ${1:type}.snippets
snippet options
alias opt
	options ${1:word}${2}
snippet target
alias tg
	${${1:n}:TARGET}
snippet $
	${${1:n}}
snippet #
	${${1:n}:#:${2:text}}
